 *{
	margin:0;
	padding: 0;
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

body{
	height: 100%;
	font-family: helvetica;
}
header{
	position:absolute;
	padding: 1em;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: white;

	a{
		text-decoration: none;
		color: black;
	}

	a.logo {
		font-weight: bold;
		text-transform: uppercase;
	}

	nav ul{
		list-style: none;
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin:0;
		padding: 0;

		li a {
			padding: 1em;
		}

	}

}

.container{
	display: grid;
	grid-template-columns: auto;

	section{
		padding:3em;

		h1, h2, .read-btn{
			text-transform: uppercase;
			margin: 0;
		}

		h2{
			font-size: 
		}
	}
}